_jurist-2.haml
/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 
  %h2 
    %span Внесение изменений
  %ul.tabs 
    %li 
      %a.active{:href => ""} 
        %span Изменение размера УК
    %li 
      %a{:href => ""} 
        %span Смена ген.директора
    %li 
      %a{:href => ""} 
        %span Смена учредителей
    %li 
      %a{:href => ""} 
        %span Смена юр.адреса
    %li 
      %a{:href => ""} 
        %span Смена наименования
    %li 
      %a{:href => ""} 
        %span Смена видов деятельности

  .steps 
    .step 
      .title шаг 1
      %img{:src => "i/im1.png", :alt => ""}
      %h4 Заявка на сайте
      %p Вы получите бесплатную консультацию юриста.
    .str_step
    .step 
      .title шаг 2
      %img{:src => "i/im2.png", :alt => ""} 
      %h4 Подписывание документов
      %p Подписанные документы заверяются у нотариуса и подаются в налоговую.
    .str_step
    .step 
      .title шаг 3
      %img{:src => "i/im3.png", :alt => ""} 
      %h4 Получение документов
      %p
        %span.green Вы получите:
        %br 
        • лист записи о внесении изменений 
        %br
        • выписку из ЕГРЮЛ 
        %br
        • решение / протокол о смене Ген.директора 
        %br
        • приказ о назначении Генерального директора

    .clear

  %h3 
    Изменение размера уставного капитала

  .info_table.center
    %dl 
      %dt 
        %input{:type => "checkbox"} 
        Увеличение уставного капитала (10-15 дней)
      %dd 
        %strong 15 000 
        руб.
    %dl 
      %dt 
        %input{:type => "checkbox"} 
        Уменьшение уставного капитала (2-3 месяца)
      %dd 
        %strong 25 000
        руб.

  .send_line
    %a{:href => ""} 
      %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'} 

  .index_data
    .left 
      .info_table
        %h5 Дополнительные расходы:
        %dl 
          %dt гос. пошлина (Устав)
          %dd 
            %strong 4 000
            руб.
        %dl 
          %dt нотариальные расходы
          %dd 
            %strong 1000–1500
            руб.
        %dl 
          %dt нотариальные расходы (электронная подача документов)
          %dd 
            %strong 2500–3500 
            руб.
        %h5 Услуги по желанию клиента:
        %p Отметьте галочкой интересующие Вас услуги
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Выписка из ЕГРЮЛ
          %dd 
            %strong 1500
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Проверка сотрудников на судимость
          %dd 
            %strong 3000
            руб.
        %dl 
          %dt 
            %input{:type => "checkbox"} 
            Открытие расчетного счета в банке
          %dd 
            %strong 5000 - 10000
            руб.
    .right 
      .info_block 
        .str 
        %h5 От заказчика потребуются:
        %p • свидетельство о государственной регистрации
        %p • свидетельство о постановке на учёт  
        %p • устав (последняя редакция) 
        %p • выписка из ЕГРЮЛ (не старше 30 дней) 
        %p • решение / протокол (последний) 
        %p • копия паспорта Ген.директора 
        %p • номер ИНН Ген.директора  
        %p • справка из Банка (оригинал)
    .clear

  .send_line.without_bg
    %a{:href => ""} 
      %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'}

.overlay#overlay1.hiden
  .form.std_form
    %a.close{:href => ""} 
    %h4 Заявка
    %h5 на регистрацию фирмы
    .field
      %input{:type => "text", :placeholder => "Ваше имя *"} 
    .field
      %input{:type => "text", :placeholder => "Телефон *"} 
    .field
      %input{:type => "text", :placeholder => "E-mail"} 
    .field
      %textarea{:placeholder => "Комментарий"}
    %p * Обязательно к заполнению 
    .field 
      %input{:type => "image", :src => "i/button1.png"} 

/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'

_jurist-2.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="width=device-width" name="viewport">
  <link href="http://fonts.googleapis.com/css?family=Philosopher:400,400italic,700&subset=latin,cyrillic" rel="stylesheet">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write("<script src="js/vendor/html5shiv.js"><\/script>")</script>
  <![endif]-->
</head>
<body>
  <div class="wrapper"><header>
  <a class='logo' href=''>
    <img src='i/logo.png'>
    <p>Юридическое сопровождение бизнеса</p>
  </a>
  <div class='phone'>
  <big>
    <small>+7 (495)</small>
    777-78-96
  </big>
  <p>
    <img src='i/phone.png'>
    <a href='#' class='open_overlay' oid='#overlay_phone'>Заказать обратный звонок</a>
  </p>
</div>  <div class="email"><a href="mailto:info@ur-way.pro">info@ur-way.pro</a></div>
  <div class='clear'></div>
  <div class='menu'>
    <h1>наши услуги</h1>
    <ul>
      <li>
        <i></i>
        <a href='/'>Регистрация фирм</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-2.html'>Внесение изменений</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-3.html'>Бухгалтерские услуги</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-4.html'>Юридические адреса</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-5.html'>Печати и штампы</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-6.html'>Выписка из ЕГРЮЛ</a>
      </li>
      <li>
        <a href='jurist-7.html'>Допуск СРО</a>
      </li>
      <li>
        <a href='jurist-8.html'>Готовые фирмы</a>
      </li>
    </ul>
  </div>
</header><section class='main'>
  <h2>
    <span>Внесение изменений</span>
  </h2>
  <ul class='tabs'>
    <li>
      <a class='active' href=''>
        <span>Изменение размера УК</span>
      </a>
    </li>
    <li>
      <a href=''>
        <span>Смена ген.директора</span>
      </a>
    </li>
    <li>
      <a href=''>
        <span>Смена учредителей</span>
      </a>
    </li>
    <li>
      <a href=''>
        <span>Смена юр.адреса</span>
      </a>
    </li>
    <li>
      <a href=''>
        <span>Смена наименования</span>
      </a>
    </li>
    <li>
      <a href=''>
        <span>Смена видов деятельности</span>
      </a>
    </li>
  </ul>
  <div class='steps'>
    <div class='step'>
      <div class='title'>шаг 1</div>
      <img alt='' src='i/im1.png'>
      <h4>Заявка на сайте</h4>
      <p>Вы получите бесплатную консультацию юриста.</p>
    </div>
    <div class='str_step'></div>
    <div class='step'>
      <div class='title'>шаг 2</div>
      <img alt='' src='i/im2.png'>
      <h4>Подписывание документов</h4>
      <p>Подписанные документы заверяются у нотариуса и подаются в налоговую.</p>
    </div>
    <div class='str_step'></div>
    <div class='step'>
      <div class='title'>шаг 3</div>
      <img alt='' src='i/im3.png'>
      <h4>Получение документов</h4>
      <p>
        <span class='green'>Вы получите:</span>
        <br>
        • лист записи о внесении изменений
        <br>
        • выписку из ЕГРЮЛ
        <br>
        • решение / протокол о смене Ген.директора
        <br>
        • приказ о назначении Генерального директора
      </p>
    </div>
    <div class='clear'></div>
  </div>
  <h3>
    Изменение размера уставного капитала
  </h3>
  <div class='info_table center'>
    <dl>
      <dt>
        <input type='checkbox'>
        Увеличение уставного капитала (10-15 дней)
      </dt>
      <dd>
        <strong>15 000</strong>
        руб.
      </dd>
    </dl>
    <dl>
      <dt>
        <input type='checkbox'>
        Уменьшение уставного капитала (2-3 месяца)
      </dt>
      <dd>
        <strong>25 000</strong>
        руб.
      </dd>
    </dl>
  </div>
  <div class='send_line'>
    <a href=''>
      <img class='open_overlay' oid='#overlay1' src='i/button1.png'>
    </a>
  </div>
  <div class='index_data'>
    <div class='left'>
      <div class='info_table'>
        <h5>Дополнительные расходы:</h5>
        <dl>
          <dt>гос. пошлина (Устав)</dt>
          <dd>
            <strong>4 000</strong>
            руб.
          </dd>
        </dl>
        <dl>
          <dt>нотариальные расходы</dt>
          <dd>
            <strong>1000–1500</strong>
            руб.
          </dd>
        </dl>
        <dl>
          <dt>нотариальные расходы (электронная подача документов)</dt>
          <dd>
            <strong>2500–3500</strong>
            руб.
          </dd>
        </dl>
        <h5>Услуги по желанию клиента:</h5>
        <p>Отметьте галочкой интересующие Вас услуги</p>
        <dl>
          <dt>
            <input type='checkbox'>
            Выписка из ЕГРЮЛ
          </dt>
          <dd>
            <strong>1500</strong>
            руб.
          </dd>
        </dl>
        <dl>
          <dt>
            <input type='checkbox'>
            Проверка сотрудников на судимость
          </dt>
          <dd>
            <strong>3000</strong>
            руб.
          </dd>
        </dl>
        <dl>
          <dt>
            <input type='checkbox'>
            Открытие расчетного счета в банке
          </dt>
          <dd>
            <strong>5000 - 10000</strong>
            руб.
          </dd>
        </dl>
      </div>
    </div>
    <div class='right'>
      <div class='info_block'>
        <div class='str'></div>
        <h5>От заказчика потребуются:</h5>
        <p>• свидетельство о государственной регистрации</p>
        <p>• свидетельство о постановке на учёт</p>
        <p>• устав (последняя редакция)</p>
        <p>• выписка из ЕГРЮЛ (не старше 30 дней)</p>
        <p>• решение / протокол (последний)</p>
        <p>• копия паспорта Ген.директора</p>
        <p>• номер ИНН Ген.директора</p>
        <p>• справка из Банка (оригинал)</p>
      </div>
    </div>
    <div class='clear'></div>
  </div>
  <div class='send_line without_bg'>
    <a href=''>
      <img class='open_overlay' oid='#overlay1' src='i/button1.png'>
    </a>
  </div>
</section>
<div class='overlay hiden' id='overlay1'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Заявка</h4>
    <h5>на регистрацию фирмы</h5>
    <div class='field'>
      <input placeholder='Ваше имя *' type='text'>
    </div>
    <div class='field'>
      <input placeholder='Телефон *' type='text'>
    </div>
    <div class='field'>
      <input placeholder='E-mail' type='text'>
    </div>
    <div class='field'>
      <textarea placeholder='Комментарий'></textarea>
    </div>
    <p>* Обязательно к заполнению</p>
    <div class='field'>
      <input src='i/button1.png' type='image'>
    </div>
  </div>
</div>
<section class='map'>
  <div class='col'>
    <h3>Наш адрес:</h3>
    <p>
      <img src='i/metro.png'>
      Октябрьская
      <br>
      г.Москва, 2-й Спасоналивковский пер., 6
    </p>
  </div>
  <div class='col green'>
    <a href="mailto:info@ur-way.pro">info@ur-way.pro</a><br />
    Мы работаем
    <br>
    с понедельника по пятницу (9:00 - 18:00)
  </div>
  <div class='col'>
    <div class='phone'>
  <big>
    <small>+7 (495)</small>
    777-78-96
  </big>
  <p>
    <img src='i/phone.png'>
    <a href='#' class='open_overlay' oid='#overlay_phone'>Заказать обратный звонок</a>
  </p>
</div>  </div>
  <div class='clear'></div>
  <div class='map_block'>
    <div class='wrap'>
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=V0uLHH98Jo_-Zfy_lMMaTxj3BEB6K7gL&width=980&height=550"></script>
    </div>
    <a class='str' href=''>
      <img src='i/map_shadow.png'>
    </a>
  </div>
</section>
<footer>
  <div class='copyright'>
    UR-WAY &copy; 2013
    <br>
    Все права защищены
  </div>
  <div class='counter'></div>
  <div class='clear'></div>
</footer>

<div class='overlay hiden' id='overlay_phone'>
  <form action="send.php" class="debug_form_submit">
    <input type="hidden" name="back_phone" />
    <div class='form std_form'>
      <a class='close' href=''></a>
      <h4>Заявка</h4>
      <h5>на обратный звонок</h5>
      <div class='field'>
        <input placeholder='Ваше имя *' name="name" type='text'>
      </div>
      <div class='field'>
        <input placeholder='Телефон *' name="phone" type='text'>
      </div>
      <p>* Обязательно к заполнению</p>
      <div class='field'>
        <input src='i/button1.png' type='image'>
      </div>
    </div>
  </form>
</div>

<div class='overlay hiden' id='overlay_success'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Заявка</h4>
    <h5>была успешно отправлена<span class='open_overlay' oid='#overlay_success'></span></h5>
    <p>В ближайшее время с вами свяжутся сотрудники нашей компании</p>
  </div>
</div>

<div class='overlay hiden' id='overlay_not_select_anythink'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Ошибка</h4>
    <h5>не выбран ни один элемент<span class='open_overlay' oid='#overlay_not_select_anythink'></span></h5>
  </div>
</div>  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
