jurist-3.haml
/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 

  %form#buh_page{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 

    %input{:type => "hidden", :name => "buh", :value => '1'} 

    %h2 
      %span Бухгалтерские услуги
    
    .calculator
      %h4 Калькулятор стоимости бухгалтерского обслуживания
      %h5 Ваша система налогообложения:
      .btns
        %input{:type => "hidden", :name => "sustem", :value => 'Общая'} 
        %a.active{:href => ""} 
          %span Общая
        %a{:href => ""} 
          %span Упрощенная 15%
        %a{:href => ""} 
          %span Упрощенная 6%
      %h5 Количество документов в квартал:
      .wrap_slider_documents
        .slider.slider_documents
      .wrap_count_documents
        до 
        %span.count_documents 300 
        документов
      %input{:type => "hidden", :name => "count_documents"} 
      %h5 Количество сотрудников в месяц:
      .wrap_slider_peoples
        .slider.slider_peoples
      .wrap_count_peoples
        %span.count_peoples 300 
        человек
      %input{:type => "hidden", :name => "count_peoples"} 
      %h5 Приблизительная стоимость:
      .price 
        %big 18 500
        руб./мес.
    
    .send_line
      %a{:href => ""} 
        %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'} 
    
    .overlay#overlay1.hiden
      .form.std_form
        %a.close{:href => ""} 
        %h4 Заявка
        %h5 на бухгалтерские услуги
        .field
          %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
        .field
          %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
        .field
          %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
        .field
          %textarea{:placeholder => "Комментарий", :name => 'comment'}
        %p * Обязательно к заполнению 
        .field 
          %input{:type => "image", :src => "i/button1.png"} 

/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'

jurist-3.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="width=device-width" name="viewport">
  <link href="http://fonts.googleapis.com/css?family=Philosopher:400,400italic,700&subset=latin,cyrillic" rel="stylesheet">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write("<script src="js/vendor/html5shiv.js"><\/script>")</script>
  <![endif]-->
</head>
<body>
  <div class="wrapper"><header>
  <a class='logo' href=''>
    <img src='i/logo.png'>
    <p>Юридическое сопровождение бизнеса</p>
  </a>
  <div class='phone'>
  <big>
    <small>+7 (495)</small>
    777-78-96
  </big>
  <p>
    <img src='i/phone.png'>
    <a href='#' class='open_overlay' oid='#overlay_phone'>Заказать обратный звонок</a>
  </p>
</div>  <div class="email"><a href="mailto:info@ur-way.pro">info@ur-way.pro</a></div>
  <div class='clear'></div>
  <div class='menu'>
    <h1>наши услуги</h1>
    <ul>
      <li>
        <i></i>
        <a href='/'>Регистрация фирм</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-2.html'>Внесение изменений</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-3.html'>Бухгалтерские услуги</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-4.html'>Юридические адреса</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-5.html'>Печати и штампы</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-6.html'>Выписка из ЕГРЮЛ</a>
      </li>
      <li>
        <a href='jurist-7.html'>Допуск СРО</a>
      </li>
      <li>
        <a href='jurist-8.html'>Готовые фирмы</a>
      </li>
    </ul>
  </div>
</header><section class='main'>
  <form action='send.php' class='debug_form_submit' id='buh_page' method='post'>
    <input name='buh' type='hidden' value='1'>
    <h2>
      <span>Бухгалтерские услуги</span>
    </h2>
    <div class='calculator'>
      <h4>Калькулятор стоимости бухгалтерского обслуживания</h4>
      <h5>Ваша система налогообложения:</h5>
      <div class='btns'>
        <input name='sustem' type='hidden' value='Общая'>
        <a class='active' href=''>
          <span>Общая</span>
        </a>
        <a href=''>
          <span>Упрощенная 15%</span>
        </a>
        <a href=''>
          <span>Упрощенная 6%</span>
        </a>
      </div>
      <h5>Количество документов в квартал:</h5>
      <div class='wrap_slider_documents'>
        <div class='slider slider_documents'></div>
      </div>
      <div class='wrap_count_documents'>
        до
        <span class='count_documents'>300</span>
        документов
      </div>
      <input name='count_documents' type='hidden'>
      <h5>Количество сотрудников в месяц:</h5>
      <div class='wrap_slider_peoples'>
        <div class='slider slider_peoples'></div>
      </div>
      <div class='wrap_count_peoples'>
        <span class='count_peoples'>300</span>
        человек
      </div>
      <input name='count_peoples' type='hidden'>
      <h5>Приблизительная стоимость:</h5>
      <div class='price'>
        <big>18 500</big>
        руб./мес.
      </div>
    </div>
    <div class='send_line'>
      <a href=''>
        <img class='open_overlay' oid='#overlay1' src='i/button1.png'>
      </a>
    </div>
    <div class='overlay hiden' id='overlay1'>
      <div class='form std_form'>
        <a class='close' href=''></a>
        <h4>Заявка</h4>
        <h5>на бухгалтерские услуги</h5>
        <div class='field'>
          <input name='name' placeholder='Ваше имя *' type='text'>
        </div>
        <div class='field'>
          <input name='phone' placeholder='Телефон *' type='text'>
        </div>
        <div class='field'>
          <input name='email' placeholder='E-mail' type='text'>
        </div>
        <div class='field'>
          <textarea name='comment' placeholder='Комментарий'></textarea>
        </div>
        <p>* Обязательно к заполнению</p>
        <div class='field'>
          <input src='i/button1.png' type='image'>
        </div>
      </div>
    </div>
  </form>
</section>
<section class='map'>
  <div class='col'>
    <h3>Наш адрес:</h3>
    <p>
      <img src='i/metro.png'>
      Октябрьская
      <br>
      г.Москва, 2-й Спасоналивковский пер., 6
    </p>
  </div>
  <div class='col green'>
    <a href="mailto:info@ur-way.pro">info@ur-way.pro</a><br />
    Мы работаем
    <br>
    с понедельника по пятницу (9:00 - 18:00)
  </div>
  <div class='col'>
    <div class='phone'>
  <big>
    <small>+7 (495)</small>
    777-78-96
  </big>
  <p>
    <img src='i/phone.png'>
    <a href='#' class='open_overlay' oid='#overlay_phone'>Заказать обратный звонок</a>
  </p>
</div>  </div>
  <div class='clear'></div>
  <div class='map_block'>
    <div class='wrap'>
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=V0uLHH98Jo_-Zfy_lMMaTxj3BEB6K7gL&width=980&height=550"></script>
    </div>
    <a class='str' href=''>
      <img src='i/map_shadow.png'>
    </a>
  </div>
</section>
<footer>
  <div class='copyright'>
    UR-WAY &copy; 2013
    <br>
    Все права защищены
  </div>
  <div class='counter'></div>
  <div class='clear'></div>
</footer>

<div class='overlay hiden' id='overlay_phone'>
  <form action="send.php" class="debug_form_submit">
    <input type="hidden" name="back_phone" />
    <div class='form std_form'>
      <a class='close' href=''></a>
      <h4>Заявка</h4>
      <h5>на обратный звонок</h5>
      <div class='field'>
        <input placeholder='Ваше имя *' name="name" type='text'>
      </div>
      <div class='field'>
        <input placeholder='Телефон *' name="phone" type='text'>
      </div>
      <p>* Обязательно к заполнению</p>
      <div class='field'>
        <input src='i/button1.png' type='image'>
      </div>
    </div>
  </form>
</div>

<div class='overlay hiden' id='overlay_success'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Заявка</h4>
    <h5>была успешно отправлена<span class='open_overlay' oid='#overlay_success'></span></h5>
    <p>В ближайшее время с вами свяжутся сотрудники нашей компании</p>
  </div>
</div>

<div class='overlay hiden' id='overlay_not_select_anythink'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Ошибка</h4>
    <h5>не выбран ни один элемент<span class='open_overlay' oid='#overlay_not_select_anythink'></span></h5>
  </div>
</div>  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
