jurist-6.haml
/ @include 'kit/head.kit'

/ @include 'kit/header.kit'

%section.main 

  %h2 
    %span Выписка из ЕГРЮЛ

  .copyings
    .copying
      %form{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 
        %input{:type => "hidden", :name => "copying", :value => '1'}
        .title Выписка из ЕГРЮЛ, заверенная ИФНС
        .price 
          Стоимость: 
          %span.green 1500 руб.
          + доставка 300 руб.
        .wrap.std_form
          .field.btn 
            %a{:href => ""} 
              %img.open_overlay{:src => "i/button1.png", :oid => '#overlay1'}
          .field 
            %label Название компании
            .input 
              %input{:type => "text", :name => 'company'} 
          .field 
            %label ИНН или ОГРН
            .input 
              %input{:type => "text", :name => 'inn'} 
              %p Если название компании неизвестно вы можете найти компанию по ИНН и ОГРН. Наши специалисты найдут компанию самостоятельно.
          .field 
            %label Экземпляры
            .input 
              %input.inline{:type => "text", :name => 'ekz'} 
              %span экз. × 1500 р. 
        .overlay#overlay1.hiden
          .form.std_form
            %a.close{:href => ""} 
            %h4 Заявка
            %h5 на выписку из ЕГРЮЛ
            .field
              %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
            .field
              %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
            .field
              %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
            .field
              %textarea{:placeholder => "Комментарий", :name => 'comment'}
            %p * Обязательно к заполнению 
            .field 
              %input{:type => "image", :src => "i/button1.png"}
    %hr 
    .copying
      %form{:action => "send.php", :method => 'post', :class => 'debug_form_submit'} 
        %input{:type => "hidden", :name => "copying", :value => '1'}
        .title Электронная выписка за 1 час
        .price 
          Стоимость: 
          %span.green 300 руб.
        .wrap.std_form
          .field.btn 
            %a{:href => ""} 
              %img.open_overlay{:src => "i/button1.png", :oid => '#overlay2'}
          .field 
            %label Название компании
            .input 
              %input{:type => "text", :name => 'company'} 
          .field 
            %label ИНН или ОГРН
            .input 
              %input{:type => "text", :name => 'inn'} 
              %p Если название компании неизвестно вы можете найти компанию по ИНН и ОГРН. Наши специалисты найдут компанию самостоятельно.
        .overlay#overlay2.hiden
          .form.std_form
            %a.close{:href => ""} 
            %h4 Заявка
            %h5 на выписку из ЕГРЮЛ
            .field
              %input{:type => "text", :placeholder => "Ваше имя *", :name => 'name'} 
            .field
              %input{:type => "text", :placeholder => "Телефон *", :name => 'phone'} 
            .field
              %input{:type => "text", :placeholder => "E-mail", :name => 'email'} 
            .field
              %textarea{:placeholder => "Комментарий", :name => 'comment'}
            %p * Обязательно к заполнению 
            .field 
              %input{:type => "image", :src => "i/button1.png"}


/ @include 'kit/footer.kit'

/ @include 'kit/foot.kit'

jurist-6.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="width=device-width" name="viewport">
  <link href="http://fonts.googleapis.com/css?family=Philosopher:400,400italic,700&subset=latin,cyrillic" rel="stylesheet">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write("<script src="js/vendor/html5shiv.js"><\/script>")</script>
  <![endif]-->
</head>
<body>
  <div class="wrapper"><header>
  <a class='logo' href=''>
    <img src='i/logo.png'>
    <p>Юридическое сопровождение бизнеса</p>
  </a>
  <div class='phone'>
  <big>
    <small>+7 (495)</small>
    777-78-96
  </big>
  <p>
    <img src='i/phone.png'>
    <a href='#' class='open_overlay' oid='#overlay_phone'>Заказать обратный звонок</a>
  </p>
</div>  <div class="email"><a href="mailto:info@ur-way.pro">info@ur-way.pro</a></div>
  <div class='clear'></div>
  <div class='menu'>
    <h1>наши услуги</h1>
    <ul>
      <li>
        <i></i>
        <a href='/'>Регистрация фирм</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-2.html'>Внесение изменений</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-3.html'>Бухгалтерские услуги</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-4.html'>Юридические адреса</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-5.html'>Печати и штампы</a>
      </li>
      <li>
        <i></i>
        <a href='jurist-6.html'>Выписка из ЕГРЮЛ</a>
      </li>
      <li>
        <a href='jurist-7.html'>Допуск СРО</a>
      </li>
      <li>
        <a href='jurist-8.html'>Готовые фирмы</a>
      </li>
    </ul>
  </div>
</header><section class='main'>
  <h2>
    <span>Выписка из ЕГРЮЛ</span>
  </h2>
  <div class='copyings'>
    <div class='copying'>
      <form action='send.php' class='debug_form_submit' method='post'>
        <input name='copying' type='hidden' value='1'>
        <div class='title'>Выписка из ЕГРЮЛ, заверенная ИФНС</div>
        <div class='price'>
          Стоимость:
          <span class='green'>1500 руб.</span>
          + доставка 300 руб.
        </div>
        <div class='wrap std_form'>
          <div class='field btn'>
            <a href=''>
              <img class='open_overlay' oid='#overlay1' src='i/button1.png'>
            </a>
          </div>
          <div class='field'>
            <label>Название компании</label>
            <div class='input'>
              <input name='company' type='text'>
            </div>
          </div>
          <div class='field'>
            <label>ИНН или ОГРН</label>
            <div class='input'>
              <input name='inn' type='text'>
              <p>Если название компании неизвестно вы можете найти компанию по ИНН и ОГРН. Наши специалисты найдут компанию самостоятельно.</p>
            </div>
          </div>
          <div class='field'>
            <label>Экземпляры</label>
            <div class='input'>
              <input class='inline' name='ekz' type='text'>
              <span>экз. × 1500 р.</span>
            </div>
          </div>
        </div>
        <div class='overlay hiden' id='overlay1'>
          <div class='form std_form'>
            <a class='close' href=''></a>
            <h4>Заявка</h4>
            <h5>на выписку из ЕГРЮЛ</h5>
            <div class='field'>
              <input name='name' placeholder='Ваше имя *' type='text'>
            </div>
            <div class='field'>
              <input name='phone' placeholder='Телефон *' type='text'>
            </div>
            <div class='field'>
              <input name='email' placeholder='E-mail' type='text'>
            </div>
            <div class='field'>
              <textarea name='comment' placeholder='Комментарий'></textarea>
            </div>
            <p>* Обязательно к заполнению</p>
            <div class='field'>
              <input src='i/button1.png' type='image'>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class='copying'>
      <form action='send.php' class='debug_form_submit' method='post'>
        <input name='copying' type='hidden' value='1'>
        <div class='title'>Электронная выписка за 1 час</div>
        <div class='price'>
          Стоимость:
          <span class='green'>300 руб.</span>
        </div>
        <div class='wrap std_form'>
          <div class='field btn'>
            <a href=''>
              <img class='open_overlay' oid='#overlay2' src='i/button1.png'>
            </a>
          </div>
          <div class='field'>
            <label>Название компании</label>
            <div class='input'>
              <input name='company' type='text'>
            </div>
          </div>
          <div class='field'>
            <label>ИНН или ОГРН</label>
            <div class='input'>
              <input name='inn' type='text'>
              <p>Если название компании неизвестно вы можете найти компанию по ИНН и ОГРН. Наши специалисты найдут компанию самостоятельно.</p>
            </div>
          </div>
        </div>
        <div class='overlay hiden' id='overlay2'>
          <div class='form std_form'>
            <a class='close' href=''></a>
            <h4>Заявка</h4>
            <h5>на выписку из ЕГРЮЛ</h5>
            <div class='field'>
              <input name='name' placeholder='Ваше имя *' type='text'>
            </div>
            <div class='field'>
              <input name='phone' placeholder='Телефон *' type='text'>
            </div>
            <div class='field'>
              <input name='email' placeholder='E-mail' type='text'>
            </div>
            <div class='field'>
              <textarea name='comment' placeholder='Комментарий'></textarea>
            </div>
            <p>* Обязательно к заполнению</p>
            <div class='field'>
              <input src='i/button1.png' type='image'>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class='map'>
  <div class='col'>
    <h3>Наш адрес:</h3>
    <p>
      <img src='i/metro.png'>
      Октябрьская
      <br>
      г.Москва, 2-й Спасоналивковский пер., 6
    </p>
  </div>
  <div class='col green'>
    <a href="mailto:info@ur-way.pro">info@ur-way.pro</a><br />
    Мы работаем
    <br>
    с понедельника по пятницу (9:00 - 18:00)
  </div>
  <div class='col'>
    <div class='phone'>
  <big>
    <small>+7 (495)</small>
    777-78-96
  </big>
  <p>
    <img src='i/phone.png'>
    <a href='#' class='open_overlay' oid='#overlay_phone'>Заказать обратный звонок</a>
  </p>
</div>  </div>
  <div class='clear'></div>
  <div class='map_block'>
    <div class='wrap'>
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=V0uLHH98Jo_-Zfy_lMMaTxj3BEB6K7gL&width=980&height=550"></script>
    </div>
    <a class='str' href=''>
      <img src='i/map_shadow.png'>
    </a>
  </div>
</section>
<footer>
  <div class='copyright'>
    UR-WAY &copy; 2013
    <br>
    Все права защищены
  </div>
  <div class='counter'></div>
  <div class='clear'></div>
</footer>

<div class='overlay hiden' id='overlay_phone'>
  <form action="send.php" class="debug_form_submit">
    <input type="hidden" name="back_phone" />
    <div class='form std_form'>
      <a class='close' href=''></a>
      <h4>Заявка</h4>
      <h5>на обратный звонок</h5>
      <div class='field'>
        <input placeholder='Ваше имя *' name="name" type='text'>
      </div>
      <div class='field'>
        <input placeholder='Телефон *' name="phone" type='text'>
      </div>
      <p>* Обязательно к заполнению</p>
      <div class='field'>
        <input src='i/button1.png' type='image'>
      </div>
    </div>
  </form>
</div>

<div class='overlay hiden' id='overlay_success'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Заявка</h4>
    <h5>была успешно отправлена<span class='open_overlay' oid='#overlay_success'></span></h5>
    <p>В ближайшее время с вами свяжутся сотрудники нашей компании</p>
  </div>
</div>

<div class='overlay hiden' id='overlay_not_select_anythink'>
  <div class='form std_form'>
    <a class='close' href=''></a>
    <h4>Ошибка</h4>
    <h5>не выбран ни один элемент<span class='open_overlay' oid='#overlay_not_select_anythink'></span></h5>
  </div>
</div>  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
